.trader-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  border: none;
}

.top-banner {
  background: none; /* Remove o gradiente anterior */
  padding: 20px;
}

body {
  background-color: #080808;
}
